body {
  background-color: #8892BF;
  font-family: 'Montserrat', sans-serif;
}

.logo {
  color: white;
  font-family: 'Pacifico', cursive;
}

#no-logged {
  height: 100vh;
  text-align: center;
}

.no-logged-login {
  display: flex;
  align-items: center;
}

#no-logged .container-fluid {
  max-width: 380px;
}

#no-logged .logo {
  transform: rotate(-2deg);
  font-size: 65px;
  margin-top: 30px;
  margin-bottom: 50px;
}

#no-logged .content {
  width: 100%;
  background-color: white;
  margin: auto auto 20px auto;
  padding: 25px;
  border-radius: 4px;
}

#no-logged h4 {
  color: white;
}

#no-logged p {
  color: white;
  font-size: 18px;
}

#no-logged p a {
  color: white;
  font-weight: bold;
  display: block;
}

#nav {
  padding: 30px 0;
  display: flex;
}

#nav .logo {
  font-size: 35px;
}

#nav .action {
  display: flex;
}

#posts {
  padding: 20px 12px;
}

#posts .list {
  list-style: none;
}

#posts .create {
  margin-bottom: 30px;
}

.post {
  background-color: white;
  margin-bottom: 12px;
}

.post:last-child {
  margin-bottom: 0;
}

.post .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post .card-header .dropdown-toggle:after {
  display: none !important;
}

.btn-primary {
  background-color: #4F5B93;
  border-color: #4F5B93;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #6873ab;
  border-color: #6873ab;
}

.user-signout {
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
}

.user-image {
  width: 30px;
  height: 30px;
}

.user-image > img {
  width: 100%;
  border-radius: 60px;
}